/* ActiveProject.css */

body {
    background-color: rgba(255, 218, 185, 0.5); /* Peach background color with transparency */
}

.active-projects {
    padding: 20px;
}

.active-projects h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Increased text shadow effect */
}

.active-projects table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #555; /* Grey background color for the table */
    border: 2px solid #000; /* Black border for the table */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Increased box shadow effect */
}

.active-projects th,
.active-projects td {
    padding: 10px;
    border: 1px solid #000; /* Black border for table cells */
    text-align: center;
    color: black; /* Black text color for table cells */
}

.active-projects th {
    background-color: #444; /* Darker shade of grey for table heading background */
}

.active-projects tr {
    background-color: #fff; /* White background color for odd rows */
}

.active-projects td a {
    color: #000; /* Black text color */
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Increased text shadow effect */
}

.active-projects td a:hover {
    color: #555; /* Darker black on hover */
}

.active-projects td a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000; /* Black underline */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.active-projects td a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.active-projects td img {
    width: 30px; /* Adjust size as necessary */
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Increased box shadow effect */
}

.active-projects td a:hover img {
    transform: scale(1.2); /* Adjust scaling factor as necessary */
}
