/* CompletedProjects.css */

.completed-projects {
  padding: 20px;
}

.completed-projects h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Increased text shadow effect */
}

.completed-projects table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #555; /* Grey background color for the table */
  border: 2px solid #000; /* Black border for the table */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Increased box shadow effect */
}

.completed-projects th,
.completed-projects td {
  padding: 10px;
  border: 1px solid #000; /* Black border for table cells */
  text-align: center;
  color: black; /* Black text color for table cells */
}

.completed-projects th {
  background-color: #444; /* Darker shade of grey for table heading background */
}

.completed-projects td {
  background-color: #fff; /* White background color for table content */
  color: #000; /* Black text color for table rows */
}

.completed-projects td a {
  color: #000; /* Black text color */
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Increased text shadow effect */
}

.completed-projects td a:hover {
  color: #555; /* Darker black on hover */
}

.completed-projects td a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000; /* Black underline */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.completed-projects td a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.completed-projects td img {
  width: 30px; /* Adjust size as necessary */
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
  transition: transform 0.3s ease;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Increased box shadow effect */
}

.completed-projects td a:hover img {
  transform: scale(1.2); /* Adjust scaling factor as necessary */
}

/* Hover effect for table rows */
.completed-projects tbody tr:hover td {
  background-color: #f0f0f0; /* Very light grey background color on hover */
}
