/* Project.css */

.project {
    padding: 20px;
  }
  
  .project h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .project table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #555; /* Grey background color for the table */
    border: 2px solid #000; /* Black border for the table */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  }
  
  .project th,
  .project td {
    padding: 10px;
    border: 1px solid #000; /* Black border for table cells */
    text-align: center;
  }
  
  .project th {
    background-color: #444; /* Darker shade of grey for table heading background */
    color: #fff; /* White text color for table header */
  }
  
  .project td {
    background-color: #fff; /* White background color for table content */
    color: #000; /* Black text color for table rows */
  }
  
  .project td button {
    background-color: #007bff; /* Blue button background color */
    color: #fff; /* White button text color */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .project td button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Hover effect for table rows */
  .project tbody tr:hover td {
    background-color: #f0f0f0; /* Very light grey background color on hover */
  }
  