/* Scoresheet.css */

.scoresheet {
    padding: 20px;
  }
  
  .scoresheet h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .scoresheet table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f8f9fa; /* Light grey background color for the table */
    border: 2px solid #dee2e6; /* Light grey border for the table */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
  
  .scoresheet th,
  .scoresheet td {
    padding: 10px;
    border: 1px solid #dee2e6; /* Light grey border for table cells */
    text-align: center;
  }
  
  .scoresheet th {
    background-color: #4e4f51; /* Lighter shade of grey for table heading background */
    color: #495057; /* Text color for table header */
    color: black;
  }
  
  .scoresheet tbody tr:nth-child(even) {
    background-color: #f1f1f1; /* Alternate row color */
  }
  
  .scoresheet tbody tr:hover {
    background-color: #d0d0d0; /* Light grey background color on hover */
  }
  
  .scoresheet td {
    color: #495057; /* Text color for table rows */
  }
  
  .scoresheet p {
    margin-top: 10px;
    color: #dc3545; /* Error message color */
  }
  